body {
    --sd-color-primary: #4f8419;
    --pst-color-secondary: #922D50;
    --sd-color-primary-highlight: var(--pst-color-secondary);
    --pst-color-link: var(--sd-color-primary);
    --pst-color-link-hover: var(--pst-color-secondary);
    --pst-font-family-heading: Roboto, var(--pst-font-family-base-system);    
}

nav.bd-links .current > a {
    color: var(--sd-color-primary);
    box-shadow: inset max(3px,.1875rem,.12em) 0 0 var(--sd-color-primary);
}

.toc-entry a.nav-link.active {
    color: var(--sd-color-primary);
    box-shadow: inset max(3px,.1875rem,.12em) 0 0 var(--sd-color-primary);
}

.sd-card-hover:hover {
  border-color: var(--sd-color-primary);
}

.sd-card-img-top {
  border: 1px solid #ddd;
  padding: 1rem;    
  width: 100%;
  height: 25vh;
  object-fit: scale-down;
}

p.figure-caption {
  color: var(--pst-color-text-muted);
  font-family: var(--pst-font-family-heading);
  font-weight: var(--pst-font-weight-caption);
  font-size: 1em;
}